<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030424750890-c0i56bg3716aki4tc2q60jufhmfsf00h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030424750890-c0i56bg3716aki4tc2q60jufhmfsf00h</string>
	<key>API_KEY</key>
	<string>AIzaSyDJbY629IkksLBjMyeBEmqM9os67VF_Rpk</string>
	<key>GCM_SENDER_ID</key>
	<string>1030424750890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.todoqacart</string>
	<key>PROJECT_ID</key>
	<string>udemy-appium-f7c68</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-appium-f7c68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030424750890:ios:b8962b61072a73f2df8c53</string>
	<key>DATABASE_URL</key>
	<string>https://udemy-appium-f7c68-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>